OnTheSpotTestApp/OnTheSpotTestApp/OnTheSpotTestApp.Android/bin/
OnTheSpotTestApp/OnTheSpotTestApp/OnTheSpotTestApp.Android/obj/
OnTheSpotTestApp/.vs/
OnTheSpotTestApp/OnTheSpotTestApp/OnTheSpotTestApp.iOS/obj/
OnTheSpotTestApp/OnTheSpotTestApp/OnTheSpotTestApp/obj/
OnTheSpotTestApp/OnTheSpotTestApp/OnTheSpotTestApp/bin/
